{% extends "base.html" %}

{% load bootstrap %}

{% block title %}
	<title>Person Form</title>
{% endblock title %}

{% block content %}

<form class="form-horizontal col-sm-6" action="." method="POST">
    <legend>Novo Contato</legend>
    {% csrf_token %}
	{{ form.gender|bootstrap_horizontal }}
	{{ form.treatment|bootstrap_horizontal }}
	{{ form.first_name|bootstrap_horizontal }}
	{{ form.last_name|bootstrap_horizontal }}
    {{ form.slug|bootstrap_horizontal }}
    {{ form.photo|bootstrap_horizontal }}
	{{ form.company|bootstrap_horizontal }}
	{{ form.department|bootstrap_horizontal }}
	{{ form.occupation|bootstrap_horizontal }}
	{{ form.email|bootstrap_horizontal }}
	{{ form.cpf|bootstrap_horizontal }}
	{{ form.rg|bootstrap_horizontal }}
	{{ form.address|bootstrap_horizontal }}
	{{ form.complement|bootstrap_horizontal }}
	{{ form.district|bootstrap_horizontal }}
	{{ form.city|bootstrap_horizontal }}
	{{ form.uf|bootstrap_horizontal }}
	{{ form.cep|bootstrap_horizontal }}

	<div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </div>
</form>

{% endblock content %}