Django==1.9.1
argparse==1.2.1
dj-database-url==0.3.0
django-bootstrap-form==3.2
django-daterange-filter==1.2.0
django-extensions==1.6.1
django-test-without-migrations==0.4
django-widget-tweaks==1.4.1
python-dateutil==2.4.2
python-decouple==3.0
pytz==2015.4
requests==2.9.1
six==1.9.0
wheel==0.24.0
