{% extends "base.html" %}

{% block title %}
	<title>Clientes</title>
{% endblock title %}

{% block content %}

    <form class="navbar-form navbar-right" action="." method="get">
        <!-- add -->
        <a href="{% url 'core:customer_add' %}">
            <button id="new_customer" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Adicionar
            </button>
        </a>
        <!-- search form -->
        <div class="form-group">
	        <input id="search_box" name="search_box" type="text" placeholder="Localizar..." class="form-control">
	        <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-search"></span></button>
	    </div>
	</form>
	
	<div class="page-header">
		<h2><i class="fa fa-users"></i> Lista de Clientes</h2>
	</div>

	{% if object_list %}
		<table class="table table-striped">
		    <thead>
		        <tr>
		            <th>Nome</th>
		            <th>e-mail</th>
					<th>Telefone</th>
					<th>Empresa</th>
					<th>Departamento</th>
					<th>Tipo de cliente</th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for customer in object_list %}
		        <tr>
		            <td><a href="{{ customer.get_absolute_url }}">{{ customer.full_name }}</a></td>
		            {% if customer.email %}
		            	<td>{{ customer.email }}</td>
		            {% else %}
		            	<td>---</td>
		            {% endif %}
		            {% if customer.phone1 %}
		            	<td>{{ customer.phone1 }}</td>
		            {% else %}
		            	<td>---</td>
		            {% endif %}
		            {% if customer.company %}
		            	<td>{{ customer.company }}</td>
		            {% else %}
		            	<td>---</td>
		            {% endif %}
		            {% if customer.department %}
		            	<td>{{ customer.department }}</td>
		            {% else %}
		            	<td>---</td>
		            {% endif %}
		            
		            {% if customer.type_customer == 'c' %}
		            	<td><i class="fa fa-circle fa-fw status-concluido"></i> {{ customer.get_type_customer_display }}</td>
		            {% elif customer.type_customer == 'a'  %}
		            	<td><i class="fa fa-circle fa-fw status-elab"></i> {{ customer.get_type_customer_display }}</td>
		            {% else %}
			            <td><i class="fa fa-circle fa-fw status-pendente"></i> {{ customer.get_type_customer_display }}</td>
		            {% endif %}
		        </tr>
		    {% endfor %}
		    </tbody>
		</table>
	{% else %}
			<p class="alert alert-warning">Sem itens na lista.</p>
	{% endif %}

    <hr>
	<div>
		{% if count > 0 %}
			<h3><b>Total:</b> {{ count }}
				{% if count == 1 %}
					cliente
				{% elif count > 1 %}
					clientes
				{% endif %}
			</h3>
		{% endif %}
	</div>

<!-- pagination -->
{% include "pagination.html" %}

{% endblock content %}