<!-- Footer -->
<footer class="navbar-inverse letter-white">
    <div class="container">
        <div class="row clearfix">
            <div class="text-center">
                <p class="pull-right">
                    <a href="#">Topo</a>
                </p>
                <p>rg solutions &copy; 2015 &middot; all righs reserved <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/br/80x15.png" /></a> </p><!-- background image -->
            </div>
        </div>
    </div>        
</footer>
