<!-- pagination -->
<div class="row text-center">
  <div class="col-lg-12">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}{% if request.GET.search_box %}&search_box={{ request.GET.search_box }}{% endif %}">&laquo;</a></li>
      {% endif %}

      {% for pg in page_obj.paginator.page_range %}
        <!-- Sempre mostra as 3 primeiras e 3 últimas páginas -->
        {% if pg == 1 or pg == 2 or pg == 3 or pg == page_obj.paginator.num_pages or pg == page_obj.paginator.num_pages|add:'-1' or pg == page_obj.paginator.num_pages|add:'-2' %}
          <li><a href="?page={{ pg }}{% if request.GET.search_box %}&search_box={{ request.GET.search_box }}{% endif %}">{{ pg }}</a></li>
        {% else %}
          {% if page_obj.number == pg %}
            <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
          {% elif pg > page_obj.number|add:'-4' and pg < page_obj.number|add:'4' %}
            <!-- Mostra 3 páginas antes e 3 páginas depois da atual -->
            <li><a href="?page={{ pg }}{% if request.GET.search_box %}&search_box={{ request.GET.search_box }}{% endif %}">{{ pg }}</a></li>
          {% elif pg == page_obj.number|add:'-4' or pg == page_obj.number|add:'4' %}
            <li><a href="">...</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}&search_box={{ request.GET.search_box }}">&raquo;</a></li>
      {% endif %}
    </ul>
  </div>
</div>

<!-- https://gist.github.com/rg3915/01ca76f099f431c24bc0536bef83076b -->

<!-- https://www.technovelty.org/web/skipping-pages-with-djangocorepaginator.html -->