{% extends 'base.html' %}

{% block title %}
	<title>Contratos</title>
{% endblock title %}

{% block content %}

    <form class="navbar-form navbar-right" action="." method="get">
        <!-- add -->
        <!-- <a href="#">
            <button id="new_register" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Adicionar
            </button>
        </a> -->
        <!-- search form -->
        <div class="form-group">
            <input id="min_date" name="min_date" type="text" placeholder="Data inicial" class="form-control">
            <input id="max_date" name="max_date" type="text" placeholder="Data final" class="form-control">
            <!-- <input id="search_box" name="search_box" type="text" placeholder="Localizar..." class="form-control"> -->
            <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-search"></span></button>
	        <!-- status search form -->
        	<ul class="list-inline text-right">
                <li><a href="{% url 'core:contract_list' %}"><span class="fa fa-star status-aprovado"></span> Todos</a></li>
                <li><a href="?is_canceled=0" name="no_canceled"><span class="glyphicon glyphicon-ok-sign" style="color: #44AD41"></span> Válidos</a></li>
                <li><a href="?is_canceled=1" name="is_canceled"><span class="glyphicon glyphicon-minus-sign" style="color: #DE2121"></span> Cancelados</a></li>
	        </ul>

        </div>
    </form>

	<h2><i class="fa fa-star"></i> Lista de Contratos</h2>

	<div>
		{% if contracts %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Número</th>
						<th>Obra</th>
						<th>Cliente</th>
						<th>Vendedor</th>
						<th class="text-right">Valor</th>
						<th>Data</th>
						<th class="text-center">Cancelado</th>
					</tr>
				</thead>
				<tbody>
				{% for contract in contracts %}
					{% if contract.is_canceled %}
						<tr class="danger">
					{% else %}
						<tr>
					{% endif %}
							<td><a href="{{ contract.get_absolute_url }}">{{ contract.proposal }}</a></td>

							<td>{{ contract.proposal.work }}</td>
							<td>{{ contract.proposal.work.customer }}</td>
							<td>{{ contract.proposal.seller.employee.user.first_name }}</td>
							<td class="text-right">{{ contract.proposal.get_price }}</td>
							<td>{{ contract.created|date:"d/m/Y" }}</td>
							{% if not contract.is_canceled %}
								<td></td>
							{% else %}
								<td class="text-center"><span class="glyphicon glyphicon-minus-sign" style="color: #DE2121"></span></td>
							{% endif %}
						</tr>
				{% endfor %}
				</tbody>
			</table>
		{% else %}
			<p class="alert alert-warning">Sem itens na lista.</p>
		{% endif %}
	</div>

    <hr>
	<div>
		<h3><b>Total:</b> {{ contracts|length }} contrato{{ contracts|length|pluralize }}</h3>
	</div>

<!-- pagination -->
{% include "pagination.html" %}

{% endblock content %}