/* Home Style */
header {
  /*background: url(../img/logo.png) no-repeat center center;*/
  /*position: relative;*/
}

.navbar-default {
  background-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #514c4c;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #514c4c;
}
.navbar-default .navbar-nav > li > a {
  color: #514c4c;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #000c93;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #000c93;
  background-color: #bccefa;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #000c93;
  background-color: #bccefa;
}
.navbar-default .navbar-toggle {
  border-color: #bccefa;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #bccefa;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #514c4c;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #514c4c;
}
.navbar-default .navbar-link {
  color: #514c4c;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #514c4c;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #bccefa;
  }
}