{% extends "base.html" %}

{% block title %}
	<title>Proposal Detail</title>
{% endblock title %}

{% block content %}

    <form class="navbar-form navbar-right" action="." method="get">
        <!-- edit -->
        <a id="edit_proposal" href="{% url 'proposal_edit' pk=proposal.id %}">
            <button type="button" class="btn btn-success">
                <span class="fa fa-pencil"></span> Editar
            </button>
        </a>
    	<!-- <input name="new_contract" type="submit" class="btn btn-primary" value="{{ proposal.id }}" /> -->
    	<a class="btn btn-primary" href="{% url 'create_contract_url' proposal.id %}"><i class="icon-edit icon-white"></i> Criar Contrato</a>
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
		  Atualizar valores
		</button>

	</form>

<div>	
	<table class="table table-user-information">
		<tbody>
			<tr>
				<td><h1>{{ object.codigo }}</h1></td>

				{% if object.status == 'c' %}
					<td valign="middle"><i class="fa fa-close fa-fw fa-3x status-cancelado"></i> {{ object.get_status_display }}</td>
				{% elif object.status == 'elab' %}
					<td valign="middle"><i class="fa fa-circle fa-fw fa-3x status-elab"></i> {{ object.get_status_display }}</td>
				{% elif object.status == 'p' %}
					<td valign="middle"><i class="fa fa-circle fa-fw fa-3x status-pendente"></i> {{ object.get_status_display }}</td>
				{% elif object.status == 'co' %}
					<td valign="middle"><i class="fa fa-check fa-fw fa-3x status-concluido"></i> {{ object.get_status_display }}</td>
				{% elif object.status == 'a' %}
					<td valign="middle" class="text-info"><i class="fa fa-star fa-fw fa-3x status-aprovado"></i> {{ object.get_status_display }}</td>
				{% endif %}


			</tr>
			<tr>
				<th class="col-md-3 text-right">Categoria</th>
				<td>{{ object.category }}</td>
			</tr>
			<tr>
				<th class="col-md-3 text-right">Cliente</th>
				<td><h2><a href="{{ object.get_customer_url }}">{{ object.cliente }}</a></h2></td>
			</tr>
				<th class="col-md-3 text-right">Tipo de cliente</th>
				<td>{{ object.cliente.get_type_customer_display }}</td>
			</tr>
			<tr>
				<th class="col-md-3 text-right">Obra</th>
				<td><h2><a href="{{ object.get_work_url }}">{{ object.work }}</a></h2></td>
			</tr>
			<tr>
				<th class="col-md-3 text-right">Endereço</th>
				<td>{{ object.get_address }} </td>
			</tr>
			{% if object.person %}
				<tr>
					<th class="col-md-3 text-right">Contato</th>
					<td><a href="{{ object.get_person_url }}">{{ object.person }}</a></td>
				</tr>
				<tr>
					<th class="col-md-3 text-right"><span class="glyphicon glyphicon-envelope"></span></th>
					<td><a href="mailto:{{ object.person.email }}">{{ object.person.email }}</a></td>
				</tr>
				<tr>
					<th class="col-md-3 text-right"><span class="glyphicon glyphicon-phone-alt"></span></th>
					<td>{{ object.person.phone1 }}</td>
				</tr>
			{% endif %}

			{% if object.description %}
				<tr>
					<th class="col-md-3 text-right">Descrição</th>
					<td>{{ object.description }}</td>
				</tr>
			{% endif %}
			<tr>
				<th class="col-md-3 text-right">Vendedor</th>
				<td>{{ object.get_seller }}</td>
			</tr>
			{% if object.price != 0 %}
				<tr>
					<th class="col-md-3 text-right">Valor</th>
					<td>{{ object.get_price }}</td>
				</tr>
			{% endif %}
			{% if object.date_conclusion %}
				<tr>
					<th class="col-md-3 text-right">Conclusão</th>
					<td>{{ object.date_conclusion }}</td>
				</tr>
			{% endif %}
			{% if object.obs %}
				<tr>
					<th class="col-md-3 text-right">Observação</th>
					<td>{{ object.obs }}</td>
				</tr>
			{% endif %}

		</tbody>
	</table>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Atualizar valores</h4>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
          {% csrf_token %}
          <input id="novoValor" name="novoValor" type="text" placeholder="Digite o valor">
          <input type="submit">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button id="btnAtualizarValor" type="button" class="btn btn-primary" data-dismiss="modal">Atualizar</button>
      </div>
    </div>
  </div>
</div>

	<script>
		$(function(){
		  $('#myModal').on('shown.bs.modal', function(){
		    $('#novoValor').val("");
		    $('#novoValor').focus();
		  });
		  $("#btnAtualizarValor").click(function(){
		  	  var v = $('#novoValor').val();
		      console.log(v);
		  });
		});
	</script>

{% endblock content %}
