{% extends 'base.html' %}

{% block title %}
	<title>Orçamentos</title>
{% endblock title %}

{% block content %}

    <form class="navbar-form navbar-right" action="." method="get">
        <div class="form-group">
	        <!-- search form -->
	        <input id="search_box" name="search_box" type="text" placeholder="Localizar..." class="form-control">
	        <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-search"></span></button>
	        <!-- status search form -->
        	<ul class="list-inline">
	        	{% for item, item_display, classes in status %}
                            <li><a href="?{{ item }}=1"><i class="fa fa-fw {{ classes }}"></i></a></li>
	        	{% endfor %}
	        </ul>
	    </div>
	</form>
	
	<div class="page-header">
		<h2><i class="fa fa-list"></i> Lista de Orçamentos</h2>
	</div>

	<div>
		{% if object_list %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Número</th>
						<th>Obra</th>
						<th>Cliente</th>
						<th>Categoria</th>
						<th>Funcionário</th>
						<th>Vendedor</th>
						<th>Status</th>
						<th class="text-center">Valor</th>
						<th>Conclusão</th>
					</tr>
				</thead>
				<tbody>
				{% for proposal in object_list %}
					<tr>
						{% if proposal.status == 'c' %}
							<td><a href="{{ proposal.get_proposal_detail_url }}"><strike>{{ proposal.codigo }}</strike> <i class="fa fa-close fa-fw status-cancelado"></i></a></td>
						{% elif proposal.status == 'elab' %}
							<td><a href="{{ proposal.get_proposal_detail_url }}">{{ proposal.codigo }} <i class="fa fa-circle fa-fw status-elab"></i></a></td>
						{% elif proposal.status == 'p' %}
							<td><a href="{{ proposal.get_proposal_detail_url }}">{{ proposal.codigo }} <i class="fa fa-circle fa-fw status-pendente"></i></a></td>
						{% elif proposal.status == 'co' %}
							<td><a href="{{ proposal.get_proposal_detail_url }}">{{ proposal.codigo }} <i class="fa fa-check fa-fw status-concluido"></i></a></td>
						{% elif proposal.status == 'a' %}
							<td class="text-info"><a href="{{ proposal.get_proposal_detail_url }}">{{ proposal.codigo }} <i class="fa fa-star fa-fw status-aprovado"></i></a></td>
						{% endif %}

						<td>{{ proposal.work }}</td>
						<td>{{ proposal.work.customer }}</td>
						<td>{{ proposal.category }}</td>
						<td>{{ proposal.employee.user.first_name }}</td>
						<td>{{ proposal.seller.employee.user.first_name }}</td>

						{% if proposal.status == 'c' %}
							<td><i class="fa fa-close fa-fw status-cancelado"></i> {{ proposal.get_status_display }}</td>
						{% elif proposal.status == 'elab' %}
							<td><i class="fa fa-circle fa-fw status-elab"></i> {{ proposal.get_status_display }}</td>
						{% elif proposal.status == 'p' %}
							<td><i class="fa fa-circle fa-fw status-pendente"></i> {{ proposal.get_status_display }}</td>
						{% elif proposal.status == 'co' %}
							<td><i class="fa fa-check fa-fw status-concluido"></i> {{ proposal.get_status_display }}</td>
						{% elif proposal.status == 'a' %}
							<td class="text-info"><i class="fa fa-star fa-fw status-aprovado"></i> {{ proposal.get_status_display }}</td>
						{% endif %}

						{% if proposal.price %}
							<td>{{ proposal.get_price }}</td>
						{% else %}
							<td class="text-center">---</td>
						{% endif %}

						{% if proposal.date_conclusion %}
							<td>{{ proposal.date_conclusion|date:"d/m/Y" }}</td>
						{% else %}
							<td class="text-center">---</td>
						{% endif %}

					</tr>
				{% endfor %}
				</tbody>
			</table>
		{% else %}
			<p class="alert alert-warning">Sem itens na lista.</p>
		{% endif %}
	</div>

    <hr>
	<div>
		{% if count > 0 %}
			<h3><b>Total:</b> {{ count }}
				{% if count == 1 %}
					orçamento
				{% elif count > 1 %}
					orçamentos
				{% endif %}
			</h3>
		{% endif %}
	</div>

<!-- pagination -->
{% include "pagination.html" %}

{% endblock content %}
