{% extends "base_initial.html" %}

{% block nocontent %}

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span class="fa fa-sellsy"></span> Orçamentos</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li><a href="#"><span class="fa fa-inbox fa-fw"></span><span class="label label-warning">{{ view.entrys }}</span></a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-list fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-list fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                    <li><a href="{% url 'admin:index' %}"><span class="fa fa-drupal"></span></a></li>
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Localizar...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li><a href="{% url 'entry_list' %}"><i class="fa fa-inbox"></i> Entrada<span class="pull-right label label-warning small"><em>{{ view.entrys }}</em></span></a></li>
                        <li><a href="#"><span class="fa fa-magic fa-flip-horizontal"></span> Cadastro rápido</a></li>
                        <li><a href="{% url 'proposal_list' %}"><i class="fa fa-list"></i> Orçamentos<span class="pull-right label label-success small"><em>{{ proposals.proposal_elab }}</em></span></a></li>
                        <li><a href="{% url 'contract_list' %}"><i class="fa fa-star"></i> Contratos</a></li>
                        <li><a href="{% url 'customer_list' %}"><i class="fa fa-users"></i> Clientes</a></li>
                        <li><a href="{% url 'work_list' %}"><i class="fa fa-home"></i> Obras</a></li>
                        <li><a href="{% url 'person_list' %}"><i class="fa fa-user"></i> Contatos</a></li>
                        <li><a href="{% url 'admin:index' %}"><span class="fa fa-drupal"></span> Admin</a></li>
                        <!-- <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">Flot Charts</a>
                                </li>
                                <li>
                                    <a href="morris.html">Morris.js Charts</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li>
                        <li>
                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="panels-wells.html">Panels and Wells</a>
                                </li>
                                <li>
                                    <a href="buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a href="notifications.html">Notifications</a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>
                                <li>
                                    <a href="icons.html"> Icons</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grid</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="blank.html">Blank Page</a>
                                </li>
                                <li>
                                    <a href="login.html">Login Page</a>
                                </li>
                            </ul>
                        </li> -->
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-entrada">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <a href="{% url 'entry_list' %}">
                                        <i class="fa fa-inbox fa-3x fa-inverse"></i>
                                    </a>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="large">{{ view.entrys }}</div>
                                    <div>Entrada</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left"><a href="{% url 'entry_list' %}">Detalhes</a></span>
                                <span class="pull-right"><i class="fa fa-plus-circle"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-primary">
                        <span class="label label-success">{{ proposals.proposal_elab }}</span>
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <a href="{% url 'proposal_list' %}">
                                        <i class="fa fa-list fa-3x fa-inverse"></i>
                                    </a>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="large">{{ proposals.proposals }}</div>
                                    <div>Orçamentos</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left"><a href="{% url 'proposal_list' %}">Detalhes</a></span>
                                <span class="pull-right"><i class="fa fa-plus-circle"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-contrato">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <a href="{% url 'contract_list' %}">
                                        <i class="fa fa-star fa-3x fa-inverse"></i>
                                    </a>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="large">{{ view.contracts }}</div>
                                    <div>Contratos</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left"><a href="{% url 'contract_list' %}">Detalhes</a></span>
                                <span class="pull-right"><i class="fa fa-plus-circle"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-cliente">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <a href="{% url 'customer_list' %}">
                                        <i class="fa fa-users fa-3x fa-inverse"></i>
                                    </a>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="large">{{ view.customers }}</div>
                                    <div>Clientes</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left"><a href="{% url 'customer_list' %}">Detalhes</a></span>
                                <span class="pull-right"><i class="fa fa-plus-circle"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-obra">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <a href="{% url 'work_list' %}">
                                        <i class="fa fa-home fa-3x fa-inverse"></i>
                                    </a>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="large">{{ view.works }}</div>
                                    <div>Obras</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left"><a href="{% url 'work_list' %}">Detalhes</a></span>
                                <span class="pull-right"><i class="fa fa-plus-circle"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <a href="{% url 'person_list' %}">
                                        <i class="fa fa-user fa-3x fa-inverse"></i>
                                    </a>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="large">{{ view.persons }}</div>
                                    <div>Contatos</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left"><a href="{% url 'person_list' %}">Detalhes</a></span>
                                <span class="pull-right"><i class="fa fa-plus-circle"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-inbox fa-fw status-pendente"></i> Entradas <span class="label label-warning">{{ view.entrys }}</span>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr> <!-- no máximo 7 -->
                                                    <th>Obra</th>
                                                    <th>Cliente</th>
                                                    <th>Data</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><i class="pull-right fa fa-flash urgente"></i> <a href="#">New Parker</a></td>
                                                    <td>Camargo Corrêa</td>
                                                    <td>01/07/2015</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="pull-right fa fa-flash urgente"></i> <a href="#">Ed. Boulevard</a></td>
                                                    <td>Costa Hirota</td>
                                                    <td>01/07/2015</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="pull-right fa fa-flash urgente"></i> <a href="#">Berrini One</a></td>
                                                    <td>Bueno Netto</td>
                                                    <td>02/07/2015</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="#">Ed. Timboril</a></td>
                                                    <td>Adolpho Lindenberg</td>
                                                    <td>03/07/2015</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="#">Ed. Nova Faria Lima</a></td>
                                                    <td>Hochtief</td>
                                                    <td>04/07/2015</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="#">Ed. Morizono</a></td>
                                                    <td>Método</td>
                                                    <td>05/07/2015</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="#">Shopping Center Tietê</a></td>
                                                    <td>Tecnisa</td>
                                                    <td>05/07/2015</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-circle status-elab"></i> Orçamentos em elaboração <span class="label label-success">{{ proposals.proposal_elab }}</span>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Num</th>
                                                    <th>Obra</th>
                                                    <th>Cliente</th>
                                                    <th>Func</th>
                                                    <th>Data</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><a href="#">001.15.0</a></td>
                                                    <td><i class="fa fa-circle fa-fw status-elab"></i> New Parker</td>
                                                    <td>Camargo Corrêa</td>
                                                    <td>Regis</td>
                                                    <td>01/07/2015</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="#">002.15.0</a></td>
                                                    <td><i class="fa fa-circle fa-fw status-elab"></i> Ed. Boulevard</td>
                                                    <td>Costa Hirota</td>
                                                    <td>Regis</td>
                                                    <td>01/07/2015</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="#">003.15.0</a></td>
                                                    <td><i class="fa fa-circle fa-fw status-elab"></i> Berrini One</td>
                                                    <td>Bueno Netto</td>
                                                    <td>Adailton</td>
                                                    <td>02/07/2015</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="#">004.15.0</a></td>
                                                    <td><i class="fa fa-circle fa-fw status-elab"></i> Ed. Timboril</td>
                                                    <td>Adolpho Lindenberg</td>
                                                    <td>Regis</td>
                                                    <td>03/07/2015</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="#">005.15.0</a></td>
                                                    <td><i class="fa fa-circle fa-fw status-elab"></i> Ed. Nova Faria Lima</td>
                                                    <td>Hochtief</td>
                                                    <td>Adailton</td>
                                                    <td>04/07/2015</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>



            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-list fa-fw"></i> Orçamentos por Status
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <!-- 1 -->
                                <div class="col-lg-6">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Num</th>
                                                    <th>Obra</th>
                                                    <th>Cliente</th>
                                                    <th>Func</th>
                                                    <th>Data</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr> <!-- no máximo 7 -->
                                                    <td><a href="#">001.15.0</a></td>
                                                    <td><i class="fa fa-check fa-fw status-concluido"></i> New Parker</td>
                                                    <td>Camargo Corrêa</td>
                                                    <td>Regis</td>
                                                    <td>01/07/2015</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="#">002.15.0</a></td>
                                                    <td><i class="fa fa-close fa-fw status-cancelado"></i> <strike>Ed. Boulevard</strike></td>
                                                    <td><strike>Costa Hirota</strike></td>
                                                    <td><strike>Regis</strike></td>
                                                    <td>01/07/2015</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="#">002.15.1</a></td>
                                                    <td><i class="fa fa-circle fa-fw status-pendente"></i> Ed. Boulevard</td>
                                                    <td>Costa Hirota</td>
                                                    <td>Regis</td>
                                                    <td>04/07/2015</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="#">003.15.0</a></td>
                                                    <td class="text-info"><i class="fa fa-star fa-fw status-aprovado"></i> Berrini One</td>
                                                    <td class="text-info">Bueno Netto</td>
                                                    <td class="text-info">Adailton</td>
                                                    <td>02/07/2015</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="#">004.15.0</a></td>
                                                    <td class="text-info"><i class="fa fa-star fa-fw status-aprovado"></i> Ed. Timboril</td>
                                                    <td class="text-info">Adolpho Lindenberg</td>
                                                    <td class="text-info">Regis</td>
                                                    <td>03/07/2015</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="#">005.15.0</a></td>
                                                    <td><i class="fa fa-circle fa-fw status-elab"></i> Ed. Nova Faria Lima</td>
                                                    <td>Hochtief</td>
                                                    <td>Adailton</td>
                                                    <td>04/07/2015</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="#">006.15.0</a></td>
                                                    <td><i class="fa fa-check fa-fw status-concluido"></i> Ed. Morizono</td>
                                                    <td>Método</td>
                                                    <td>Regis</td>
                                                    <td>10/07/2015</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- 2 -->
                                <div class="col-lg-3">
                                    <div id="morris-donut-chart"></div>
                                </div>
                                <!-- 3 -->
                                <div class="col-lg-3">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-circle fa-fw status-elab"></i> Em Elaboração
                                            <span class="pull-right text-muted small"><em>{{ proposals.proposal_elab }}</em>
                                            </span>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-circle fa-fw status-pendente"></i> Pendentes
                                            <span class="pull-right text-muted small"><em>{{ proposals.proposal_pending }}</em>
                                            </span>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-check fa-fw status-concluido"></i> Concluidos
                                            <span class="pull-right text-muted small"><em>{{ proposals.proposal_concluded }}</em>
                                            </span>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-star fa-fw status-aprovado"></i> Aprovados
                                            <span class="pull-right text-muted small"><em>{{ proposals.proposal_approved }}</em>
                                            </span>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="fa fa-close fa-fw status-cancelado"></i> Cancelados
                                            <span class="pull-right text-muted small"><em>{{ proposals.proposal_canceled }}</em>
                                            </span>
                                        </a>
                                    </div><!-- /.list-group -->
                                    <a href="#" class="btn btn-default btn-block">Ver todos orçamentos</a>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-star fa-fw status-aprovado"></i> Contratos
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div id="morris-donut-chart-contratos-aprov-cancel"></div>
                                </div>
                                <div class="col-lg-9">
                                    <div id="morris-bar-chart"></div>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-star fa-fw status-aprovado"></i> Valor total fechado por mês
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{% endblock nocontent %}