{% extends "base.html" %}

{% block content %}
	<br>
	<div class="col-lg-2">
		<a href="#" class="btn btn-block btn-red">
			<span class="fa fa-lg fa-fw fa-question"></span>
		</a>
		<a href="#" class="btn btn-block btn-orange">
			<span class="fa fa-lg fa-fw fa-question"></span>
		</a>
		<a href="#" class="btn btn-block btn-yellow">
			<span class="fa fa-lg fa-fw fa-question"></span>
		</a>
		<a href="#" class="btn btn-block btn-light-green">
			<span class="fa fa-lg fa-fw fa-question"></span>
		</a>
		<a href="#" class="btn btn-block btn-green">
			<span class="fa fa-lg fa-fw fa-question"></span>
		</a>
		<a href="#" class="btn btn-block btn-dark-green">
			<span class="fa fa-lg fa-fw fa-question"></span>
		</a>
		<a href="#" class="btn btn-block btn-light-blue">
			<span class="fa fa-lg fa-fw fa-question"></span>
		</a>
		<a href="#" class="btn btn-block btn-blue">
			<span class="fa fa-lg fa-fw fa-question"></span>
		</a>
		<a href="#" class="btn btn-block btn-dark-blue">
			<span class="fa fa-lg fa-fw fa-question"></span>
		</a>
		<a href="#" class="btn btn-block btn-violet">
			<span class="fa fa-lg fa-fw fa-question"></span>
		</a>
		<a href="#" class="btn btn-block btn-brown">
			<span class="fa fa-lg fa-fw fa-question"></span>
		</a>
		<a href="#" class="btn btn-block btn-gray">
			<span class="fa fa-lg fa-fw fa-question"></span>
		</a>
		<a href="#" class="btn btn-block btn-dark-gray">
			<span class="fa fa-lg fa-fw fa-question"></span>
		</a>
		<a href="#" class="btn btn-block btn-black">
			<span class="fa fa-lg fa-fw fa-question"></span>
		</a>
		<a href="#" class="btn btn-block btn-transparent">
			<span class="fa fa-lg fa-fw fa-question"></span>
		</a>
	</div>
{% endblock content %}