{% extends "base.html" %}

{% block title %}
	<title>Contract Detail</title>
{% endblock title %}

{% block content %}

    <form class="navbar-form navbar-right" action="." method="get">
        <!-- edit -->
        <a id="edit_contract" href="{% url 'proposal:contract_edit' pk=contract.id %}">
            <button type="button" class="btn btn-success">
                <span class="fa fa-pencil"></span> Editar
            </button>
        </a>
	</form>

<div>
	<table class="table table-user-information">
		<tbody>
			<tr>
				<td><h1>{{ object.proposal }}</h1></td>
			</tr>
			<tr>
				<th class="col-md-3 text-right">Contratante</th>
				<td><h2>{{ object.contractor }}</h2></td>
			</tr>
				<th class="col-md-3 text-right">Tipo de cliente</th>
				<td>{ object.proposal.cliente.get_type_customer_display }}</td>
			</tr>
			<tr>
				<th class="col-md-3 text-right">Obra</th>
				<td><h2>{{ object.proposal.work }}</h2></td>
			</tr>
			<tr>
				<th class="col-md-3 text-right">Endereço</th>
				<td>{{ object.proposal.get_address }} </td>
			</tr>
			<tr>
				<th class="col-md-3 text-right">Vendedor</th>
				<td>{{ object.proposal.get_seller }}</td>
			</tr>
			<tr>
				<th class="col-md-3 text-right">Valor</th>
				<td>{{ object.proposal.get_price }}</td>
			</tr>
			<tr>
				<th class="col-md-3 text-right">Data</th>
				<td>{{ object.created }}</td>
			</tr>
			<tr>
				{% if object.is_canceled %}
					<th class="col-md-3 text-right">Cancelado</th>
					<td><span class="glyphicon glyphicon-minus-sign no"></span></td>
				{% endif %}
			</tr>

		</tbody>
	</table>
</div>

{% endblock content %}
