{% extends 'base.html' %}

{% block title %}
  <title>Contratos</title>
{% endblock title %}

{% block content %}

<form class="navbar-form navbar-right" action="." method="get">
    <div class="form-group">
      <div class='input-group date form_datetime' id='min_datepicker'>
        <input id="min_date" name="min_date" type="text" placeholder="Data inicial" class="form-control">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      <div class='input-group date form_datetime' id='max_datepicker'>
        <input id="max_date" name="max_date" type="text" placeholder="Data final" class="form-control" value="{{ date_now|date:'d/m/Y' }}">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-search"></span></button>
      <!-- status search form -->
      <ul class="list-inline text-right">
            <li><a href="{% url 'proposal:contract_list' %}"><span class="fa fa-star status-aprovado"></span> Todos</a></li>
            <li><a href="?is_canceled=0" name="no_canceled"><span class="glyphicon glyphicon-ok-sign ok"></span> Válidos</a></li>
            <li><a href="?is_canceled=1" name="is_canceled"><span class="glyphicon glyphicon-minus-sign no"></span> Cancelados</a></li>
      </ul>

    </div>
</form>

<h2><i class="fa fa-star"></i> Lista de Contratos</h2>

<div>
{% if contract_list %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Número</th>
        <th>Obra</th>
        <th>Cliente</th>
        <th>Vendedor</th>
        <th class="text-right">Valor</th>
        <th>Data</th>
        <th class="text-center">Cancelado</th>
      </tr>
    </thead>
    <tbody>
    {% for contract in contract_list %}
      {% if contract.is_canceled %}
        <tr class="danger">
      {% else %}
        <tr>
      {% endif %}
          <td><a href="{{ contract.get_absolute_url }}">{{ contract.proposal }}</a></td>
          <td>{{ contract.proposal.work }}</td>
          <td>{{ contract.proposal.work.customer }}</td>
          <td>{{ contract.proposal.get_seller }}</td>
          <td class="text-right">{{ contract.proposal.get_price }}</td>
          <td>{{ contract.created|date:"d/m/Y" }}</td>
          {% if contract.is_canceled %}
            <td class="text-center"><span class="glyphicon glyphicon-minus-sign no"></span></td>
          {% else %}
            <td></td>
          {% endif %}
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="alert alert-warning">Sem itens na lista.</p>
{% endif %}
</div>

<hr>
<div>
<h3><b>Total:</b> {{ contract_list|length }} contrato{{ contract_list|length|pluralize }}</h3>
</div>

<!-- pagination -->
{% include "pagination.html" %}

<script type="text/javascript">
$(document).ready(function(){
  $('#min_datepicker').datepicker({
    language: "pt-BR"
  });
  $('#max_datepicker').datepicker({
    language: "pt-BR"
  });
})
</script>

{% endblock content %}
