{% extends 'base.html' %}
{% load core_status_tags %}

{% block title %}
  <title>Orçamentos</title>
{% endblock title %}

{% block content %}

  <form class="navbar-form navbar-right" action="." method="get">
      <div class="form-group">
        <!-- search form -->
        <input id="search_box" name="search_box" type="text" placeholder="Localizar..." class="form-control">
        <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-search"></span></button>
        <!-- status search form -->
        <ul class="list-inline">
          <li><a href="{% url 'proposal:proposal_list' %}"><i class="fa fa-list"></i></a></li>
          {% for item, item_display, classes in status %}
                  <li><a href="?status={{ item }}"><i class="fa fa-fw {{ classes }}"></i></a></li>
          {% endfor %}
        </ul>
      </div>
  </form>
  
  <h2><i class="fa fa-list"></i> Lista de Orçamentos</h2>

  <div>
    {% if proposal_list %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Número</th>
            <th>Obra</th>
            <th>Cliente</th>
            <th>Categoria</th>
            <th>Funcionário</th>
            <th>Vendedor</th>
            <th>Status</th>
            <th class="text-center">Valor</th>
            <th class="text-center">Conclusão</th>
          </tr>
        </thead>
        <tbody>
        {% for proposal in proposal_list %}
          <tr>
            <td class="text-info"><a href="{{ proposal.get_absolute_url }}">{{ proposal.codigo }} <i class="fa fa-fw {% status_icon proposal.status %}"></i>
            </a></td>
            
            <td>{{ proposal.work }}</td>
            <td>{{ proposal.work.customer }}</td>
            <td>{{ proposal.get_category_display }}</td>
            <td>{{ proposal.get_employee }}</td>
            <td>{{ proposal.get_seller }}</td>

            <td><i class="fa fa-fw {% status_icon proposal.status %}"></i> {{ proposal.get_status_display }}</td>

            {% if proposal.price %}
              <td class="text-right">{{ proposal.get_price }}</td>
            {% else %}
              <td class="text-center">---</td>
            {% endif %}

            <td class="text-center">{{ proposal.date_conclusion|date:"d/m/Y"|default:"---" }}</td>

          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="alert alert-warning">Sem itens na lista.</p>
    {% endif %}
  </div>

    <hr>
  <div>
    <h3><b>Total:</b> {{ proposal_list|length }} orçamento{{ proposal_list|length|pluralize }}</h3>
  </div>

<!-- pagination -->
{% include "pagination.html" %}

{% endblock content %}
