{% extends "base.html" %}

{% block title %}
	<title>Entry Detail</title>
{% endblock title %}

{% block content %}

    <form class="navbar-form navbar-right" action="." method="get">
        <!-- edit -->
        <a id="edit_entry" href="{% url 'entry_edit' pk=entry.id %}">
            <button type="button" class="btn btn-success">
                <span class="fa fa-pencil"></span> Editar Entrada
            </button>
        </a>
        <!-- add -->
        <!-- <p name="filter_link" class="pull-right"><a href="">Produtos em baixo estoque</a></p> -->
        <a id="new_proposal" href="{% url 'proposal_list' %}">
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Criar Orçamento
            </button>
        </a>
	</form>

<div>	
	<table class="table table-user-information">
		<tbody>
			<tr>
				<td><h1>{{ object.work }}</h1></td>
			</tr>
			<tr>
				<th class="col-md-3 text-right">Cliente</th>
				<td>{{ object.work.customer }}</td>
			</tr>
			<tr>
				<th class="col-md-3 text-right">Prioridade</th>
				<td>{{ object.get_priority_display }}</td>
			</tr>
			<tr>
				<th class="col-md-3 text-right">Categoria</th>
				<td>{{ object.category }}</td>
			</tr>
			<tr>
				<th class="col-md-3 text-right">Obra</th>
				<td>{{ object.work }}</td>
			</tr>
			<tr>
				<th class="col-md-3 text-right">Contato</th>
				<td>{{ object.person }}</td>
			</tr>
			{% if object.description %}
				<tr>
					<th class="col-md-3 text-right">Descrição</th>
					<td>{{ object.description }}</td>
				</tr>
			{% endif %}
			<tr>
				<th class="col-md-3 text-right">Vendedor</th>
				<td>{{ object.seller.employee.user.first_name }}</td>
			</tr>

		</tbody>
	</table>
</div>

{% endblock content %}